@use '../../../assets/styles/constants.module' as c;

.profileContainer {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 2rem;
    border: 1px solid c.$color-primary-light;
    border-radius: 20px;
    background-color: c.$color-primary-dark;
}

.pageTitle {
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
}
