@use '../../assets//styles/constants.module' as c;

.loginPage {
    display: flex;
    flex-direction: column;
    background: c.$color-accent-dark;
    background: url('../../assets/images/form-bg.jpg') no-repeat center center;
    background-size: cover;
}

.loginContent {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
