@use '../../../assets/styles/constants.module' as c;

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    width: 80%;
    max-width: 1265px;
    height: min-content;
    padding: 20px;
    border: 1px solid c.$border;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
}

.cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.rightHeader {
    display: flex;
    justify-content: space-between;
}

.cartProducts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.productRow {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid c.$border;
    border-radius: 1rem;
}

.productInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.deleteProduct {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.deleteIcon {
    fill: white;
    width: 40px;
    height: 40px;
}

.productImage {
    width: 100px;
    border-radius: 1rem;
}

.productPriceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstColumn {
    width: 50%;
}

.secondColumn {
    width: 50%;
}

.column {
    width: 30%;
}

.columnName {
    color: c.$color-text-primary;
    text-align: center;
}

.columnValue {
    color: c.$color-text-primary;
    text-align: center;
}

.productName {
    color: c.$color-text-primary;
}

.productText {
    display: flex;
    flex-direction: column;
}

.cartFooter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.promoContainer {
    width: 50%;
}

.totalContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: c.$color-text-primary;
}

.totalPriceContainer {
    display: flex;
    justify-content: flex-end;
}

.checkoutContainer {
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem;
}

.checkout {
    width: 20rem;
}
