@use '../../assets/styles/constants.module' as c;

.mainPageContainer {
    overflow: hidden; // РАЗОБРАТЬСЯ, ОТКУДА СПРАВА БЕЛАЯ ПОЛОСА
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 40px 20px;
    background-color: c.$color-primary;
}

@media (width <= 700px) {
    .main {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 40px 0;
        background-color: c.$color-primary;
    }
}
