@use '../../assets/styles/constants.module' as c;

.mainPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 40px 20px;
    background-color: c.$color-primary;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    border-radius: 20px;
    background-image: url('../../assets/images/main-image-test.jpg');
    background-size: cover;
}

.title {
    font-size: 5em;
    color: c.$color-text-primary;
}

.titleSecondary {
    font-size: 2em;
    color: c.$color-text-primary;
}
