.registrationContainer {
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.formTitle {
    margin-bottom: 24px;
    color: #333;
    text-align: center;
}

.checkboxesContainer {
    grid-column: 1 / -1;
}

.checkboxWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    justify-content: start;
}

.fieldset {
    display: grid;
    gap: 16px;
    width: 100%;
    padding: 0.35em 0;
    border: none;
    border-top: 1px solid #999;
}

.legend {
    font-weight: 700;
    color: #666;
}

.signInRedirect {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loginInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;

    @media (width <= 560px) {
        grid-template-columns: 1fr;
    }
}

.personalInfo {
    grid-template-columns: repeat(3, 1fr);

    @media (width <= 740px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 560px) {
        grid-template-columns: 1fr;
    }
}

.addressInfo {
    grid-template-columns: repeat(4, 1fr);

    @media (width <= 820px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 560px) {
        grid-template-columns: 1fr;
    }
}
