@use '../../../assets/styles/constants.module' as c;

.registrationContainer {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    padding: 4rem 2rem;
    border: 1px solid c.$color-primary-light;
    border-radius: 20px;

    // background-color: c.$color-primary-dark;
    background-color: rgba(c.$color-accent-dark, 0.25);
    backdrop-filter: blur(25px);
}

.formTitle {
    margin-bottom: 24px;
    color: c.$color-text-primary;
    text-align: center;
}

.checkboxesContainer {
    grid-column: 1 / -1;
}

.checkboxWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    justify-content: start;
}

.fieldset {
    display: grid;
    gap: 16px;
    width: 100%;
    padding: 1em 0;
    border: none;
    border-top: 1px solid c.$color-text-primary;
}

.legend {
    font-weight: 700;
    color: c.$color-text-primary;
    text-transform: uppercase;
}

.signInRedirect {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.signInText {
    color: c.$color-text-primary;
}

.signInLink {
    position: relative;
    font-weight: 500;
    color: c.$color-accent-primary;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        width: 100%;
        height: 2px;
        background-color: c.$color-accent-primary;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.loginInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;

    @media (width <= 560px) {
        grid-template-columns: 1fr;
    }
}

.personalInfo {
    grid-template-columns: repeat(3, 1fr);

    @media (width <= 740px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 560px) {
        grid-template-columns: 1fr;
    }
}

.addressInfo {
    grid-template-columns: repeat(4, 1fr);

    @media (width <= 820px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 560px) {
        grid-template-columns: 1fr;
    }
}

.registrationError {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    min-height: 1.25rem;
    margin-top: 0.25rem;
    color: c.$color-error;
    overflow-wrap: break-word;
    white-space: normal;
    animation: fade-in 0.2s ease-out;

    .errorIcon {
        flex-shrink: 0;
        font-size: 1.3rem;
    }
}

@keyframes fade-in {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
