@use '../../assets/styles/constants.module' as c;

.cartPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 4rem 6rem;
    background-color: c.$color-primary;
    background-image: url('../../assets/images/bkg-hero.jpg');
    background-position: center;
    background-size: cover;
}

@media (width <= 1240px) {
    .main {
        padding: 1rem 0.2rem;
    }
}

@media (width <= 500px) {
    .main {
        padding: 1rem 0.2rem;
    }
}
