@use '../../../assets/styles/constants.module' as c;

.productDetailsContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 100%;
    height: min-content;
    padding: 20px;
    border: 1px solid c.$border;
    border-radius: 1rem;
    backdrop-filter: blur(c.$blur);
}

.sliderContainer {
    width: 40%;
    min-width: 0;
    text-align: center;
}

.container {
    height: 600px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    color: c.$color-text-primary;
}

.topInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productName {
    text-transform: uppercase;
}

.productAttributes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
    border-radius: 10px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.attributeContainer {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
    align-items: center;
}

.iconAttributes {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    align-items: center;
}

.attributeText {
    margin: 0;
    color: c.$color-text-primary;
}

.sizeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    list-style-type: none;
}

.size.sizeActive {
    color: c.$color-accent-dark;
    background-color: c.$color-gray-300;
}

.size.sizeActive:hover {
    color: c.$color-text-primary;
}

.priceContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.price {
    font-size: 1.7rem;
    color: c.$color-text-primary;
}

.priceInitial {
    position: relative;
}

.priceInitialNumber {
    font-size: 1.7rem;
    color: c.$color-gray-600;
}

.priceLabel {
    font-size: 1.7rem;
    color: c.$color-text-primary;
}

.cross {
    position: absolute;
    top: 60%;
    rotate: 15deg;
    display: block;
    width: 100%;
    border-top: 2px solid c.$color-gray-600;
}

.discount {
    font-size: 1.7rem;
    color: c.$color-error;
}

.labelName {
    font-weight: bold;
    color: c.$color-text-primary;
    text-transform: uppercase;
}

@media (width <= 992px) {
    .productDetailsContainer {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        border: none;
    }

    .sliderContainer {
        width: 100%;
    }

    .productName {
        font-size: 1.5rem;
    }

    .productInfoContainer {
        width: 100%;
    }

    .iconAttributes {
        gap: 1rem;
        justify-content: space-between;
    }

    .topInfo {
        padding: 0 1rem;
    }

    .productAttributes {
        margin-top: 1rem;
        padding: 1rem;
        background-color: c.$color-primary-dark;
    }

    .sizeContainer {
        gap: 1rem;
        justify-content: flex-start;
    }

    .button.size {
        font-size: 1rem;
    }

    .description {
        font-size: 1rem;
    }

    .productActions {
        display: flex;
        justify-content: center;
    }

    .attributeContainer {
        min-width: 135px;
    }
}

@media (width <= 768px) {
    .productAttributes {
        margin-top: 1rem;
        background-color: c.$color-primary-dark;
    }
}

@media (width <= 500px) {
    .container {
        height: 400px;
    }

    .imageContainer {
        width: 100%;
    }

    .sizeContainer {
        justify-content: flex-start;
    }

    .button.size {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}
