.label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #333;

    &.disabled {
        cursor: not-allowed;
        color: #999;
    }
}

.required {
    margin-left: 0.25rem;
    color: #d32f2f;
}
