@use '../../../assets/styles/constants.module' as c;

.modalOverlay {
    position: fixed;
    z-index: 1000;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    backdrop-filter: blur(c.$blur5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    border: 1px solid c.$color-text-primary;
    border-radius: 8px;
    background-color: c.$color-primary-dark;
    box-shadow: 0 4px 6px c.$opacity-5;
}

.modalTitle {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: c.$color-text-primary;
    text-align: center;
}

.modalMessage {
    margin-bottom: 2rem;
    color: c.$color-text-primary;
    text-align: center;
}

.modalActions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (width <= 480px) {
    .modal {
        padding: 1.5rem;
    }

    .modalActions {
        flex-direction: column;
        width: 100%;
    }
}
