.toast {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    width: 300px;
    max-width: calc(100% - 40px);
    padding: 16px 24px;
    border-radius: 8px;
    color: black; // Черный текст
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    animation: fade-in 0.3s ease;

    &.success {
        color: white;
        background: #4caf50;
    }

    &.error {
        color: white;
        background: #f44336;
    }

    &.warning {
        color: white;
        background: #ff9800;
    }

    &.info {
        color: white;
        background: #2196f3;
    }
}

.toastContent {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
}

@keyframes fade-in {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
