@use '../../../../../assets/styles/constants.module' as c;

.changePassword {
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid c.$color-text-primary;
    border-radius: 0.5rem;
    background-color: c.$color-primary-dark;
}

.passwordForm {
    margin-top: 1.5rem;
}

.field {
    margin-bottom: 1.5rem;
}

.formActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}
