.slider {
    --swiper-navigation-color: #124a428a;
    --swiper-pagination-color: #124a428a;

    /* height: 100%; */
}

/* .slideContainer {
    display: flex;
    justify-content: center;
} */

.test {
    display: flex;
}
