.slider {
    --swiper-navigation-color: #124a428a;
}

.imageContainer {
    aspect-ratio: 3/4;
    height: 600px;
    background-color: rgb(190 206 188);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
