@use '../../assets/styles/constants.module' as c;

.wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    padding: 2rem;
    text-align: center;
}

.sadPlant {
    width: 320px;
    height: 320px;
    margin-bottom: 1rem;
    background-image: url('../../assets/images/sad-plant.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.errorCode {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: c.$color-error;
}

.message {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: c.$color-text-primary;
}

@media (width <= 768px) {
    .errorCode {
        font-size: 2.2rem;
    }

    .message {
        font-size: 1rem;
    }

    .content {
        padding: 1rem;
    }

    .sadPlant {
        width: 90px;
        height: 90px;
    }
}
